<div class="main_chat">
  <div class="header chat_head">
    <div class="room_title">中国語の部屋</div>
    <a class="room_finish_btn btn" href="#">チャットを終了する</a>
  </div>
  <div class="chat_area">
    <div class="chat_contents">
      <div class="contents_head">
        <div class="contributor">アメリカ人</div>
        <div class="post_time">##########</div>
      </div>
      <div class="contents_text">完璧な統語論</div>
    </div>
    <div class="chat_contents">
      <div class="contents_head">
        <div class="contributor">部屋の外</div>
        <div class="post_time">##########</div>
      </div>
      <div class="contents_text">意味論</div>
    </div>
  </div>
  <div class="chat_foot">
    <form class="post_form">
      <div class="pos_for_middle">
        <input class="pos_for_text" type="text" placeholder="type a message">
        <label class="pos_for_image">
          <span class="image-file">画像</span>
          <input class="hidden" type="file">
      </label>
      </div>
      <input class="pos_for_send" type="submit" value="送信">
    </form>
  </div>
</div>