<div class="side_bar">
  <div class="header side_head">
    <div class="user_name"><%= link_to current_user.name ,edit_user_path(current_user)%></div>
    <a class="chat_create_btn btn" href="#">チャットを作成する</a>
  </div>
  <div class="side_line">
    <div class="room_name_index">
      <a class="room_name btn" href="#">room1</a>
      <a class="room_name btn" href="#">room2</a>

    </div>
    
  </div>
</div>